<hr>
<h2>Registrar Producto</h2>
<div class="form-floating mb-3">
    <select class="form-select" id="floatingSelect" [(ngModel)]="proveedorSelected"
        aria-label="Floating label select example" (ngModelChange)="onChangeSelect()">
        <option *ngFor="let proveedor of proveedores;" [ngValue]="proveedor" >{{proveedor.nombre}}</option>
    </select>
    <label for="floatingSelect">Seleccione el proveedor</label>
</div>

<div class="form-floating mb-3">
    <select class="form-select" id="floatingSelect" [(ngModel)]="productoSelected"
        aria-label="Floating label select example" (ngModelChange)="onChangeSelect()">
        <option *ngFor="let producto of productos;" [ngValue]="producto">{{producto.nombre}}</option>
    </select>
    <label for="floatingSelect">Seleccione el producto</label>
</div>
<p>Precio en dólares: $</p>
<div class="input-group mb-3">
    <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Monto"  [(ngModel)]="precio" type="number" min="1"  (ngModelChange)="onChangeSelect()">
  <span class="input-group-text">.00</span>
</div>
<button type="button" class="btn btn-success acept" [disabled]="!mostrarBotonAgregar" (click)="agregar()">
    Agregar
</button>
<hr>
<div *ngIf="productoProveedor">
    <div class="card">
        <div class="card-header">
          Producto Nuevo
        </div>
        <div class="card-body">
          <h5 class="card-title">{{productoProveedor?.producto?.nombre}}</h5>
              <ul>
                <li><span>Proveedor:</span> {{productoProveedor?.proveedor?.nombre}}</li>
                <li><span>Precio $:</span>{{productoProveedor?.precio}}</li>
              </ul>
          <button type="button" class="btn btn-primary add" (click)="triggerModal(modalData)">Registrar Producto</button>
          <button type="button" class="btn btn-danger" (click)="eliminarProductoProveedor()"><i class="fa fa-close"></i>
            Eliminar Producto  
        </button>
        </div>
      </div>
</div>

<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">¿Confirma registra el producto?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-success acept" [disabled]="clicked"
            (click)="registrarProducto(); clicked = true">
            Aceptar
        </button>
        <button type="button" class="btn btn-danger cancel" [disabled]="clicked"
            (click)="modal.close('Save click')">Cancelar</button>
        <div *ngIf="loading" class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" [disabled]="clicked"
            (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>