<hr>
<h1>Pedidos</h1>
<div class="d-flex justify-content-end"> 
<button type="button" class="btn btn-success" (click)="crearPedido()"><span class="btn-label"><i class="fa fa-plus" ></i></span> Crear Pedido</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empleado</th>
        <th scope="col">Progreso</th>
        <th scope="col">Ver Productos</th>
        <th scope="col">Aprobar/Denegar</th>
      </tr>
    </thead>
    <tbody>
      
        <ng-container *ngFor="let pedido of pedidos;let i=index;">
        <tr>
          <td scope="row">{{i+1}}</td>
          <td>{{pedido.empleado.primerNombre}}</td>
          <td>{{pedido.progresoPedido.estadoPedido}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="triggerModal(modalData,pedido.pedidoId)"><i class="fa fa-eye"></i></button>
          </td>
            
            <td>
              <button type="button" class="btn btn-success" (click)="aprobarPedido(pedido.pedidoId)"><i class="fa fa-check"></i></button>
              /
              <button type="button" class="btn btn-danger" (click)="denegarPedido(pedido.pedidoId)"><i class="fa fa-close"></i></button>
          </td>
        </tr>
        </ng-container>
        
      
    </tbody>
  </table>

  <ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Productos del pedido</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
     <app-pedido-detail [pedidoId]="pedidoIdSelected"></app-pedido-detail>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>