
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let pedidoProducto of pedidoProductos;let i=index;;" >
            <tr>
                <td scope="row">{{i+1}}</td>
                <td>{{pedidoProducto.producto.productoId}}</td>
                <td>{{pedidoProducto.producto.nombre}}</td>
                <td scope="row">{{pedidoProducto.cantidad}}</td>
            </tr>
        </ng-container>

    </tbody>
</table>